.score {
  font-size: 100px;
}

.front-body-overlay {
position: relative;
z-index: 2;
opacity: .3;
filter: invert(100%);
height: 40vh;
width: 100%;
}

.scanner {
  position: relative;
  width: 100vw;
  height: 100%;
  margin: auto;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-name-container {
  cursor: pointer;
}
.app-name {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 24px;
  color: #40E0D0;
}

.center-vert-horz {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cam {
  z-index: 1;
  object-fit: cover;
  width: 75%;
  height: 75%;
  border-radius: 12px;
}

.hidden {
  display: none;
}

.front-modal-container {
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: .95;
  z-index: 5;
  margin: auto;
}

.front-modal-complete-container {
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: .95;
  z-index: 5;
  margin: auto;
}

.front-modal-msg {
  width: 640px;
  font-size: 100;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.center-horz {
  margin: auto;
}

.intro {
  animation: fade 4s linear;
  opacity: 0;
  display: inline;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fade-in {
  0% { opacity: 0 }
  50% { opacity: 50% }
  100% { opacity: 1 }
}

.intro-text {
  font-size: 50px;
  animation: fade 3s linear;
  opacity: 0;
}

.homepage-text {
  animation: fade-in 1s linear;
  opacity: 1;
  display: inline;
  font-size: 50px;
}

.page-transition {
  animation: fade-in 1s linear;
  opacity: 1;
}
.new-user-container {
  display: flex;
  width: 100%;
}

.new-user-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.fairy {
  height: 100vh;
  width: 60vw;
  margin-left: auto;
}

.center-vert {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input, label {
  display:block;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background: #4CAF50; */
  background: #40E0D0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  /* background: #43A047; */
  background: #3bcebf;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  /* color: #4CAF50; */
  color: #36c6b8;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
caption {
  display: table-caption;
  text-align: left;
}

.dashboard {
  width: 100%;
  height: 100%;
  /* background-color: #fff; */
}

.welcome {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
}

.dashboard button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background: #4CAF50; */
  background: #40E0D0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.dashboard button:hover,.form button:active,.form button:focus {
  /* background: #43A047; */
  background: #3bcebf;
}

.nav {
  background: #40E0D0;
  display: inline-block;
}

.nav-left {
  align-self: left;
  padding-left: 20px;
}
.nav-right {
align-self: right ;
display: flex;
padding-right: 20px;
}

.headers {
  color: #FFFFFF;
}

.table-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  padding: 50px;
}

.table-card {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  padding: 2px;
}

table{
  border-collapse:collapse;
  border:1px solid;
  text-align: center;
  font-size: 12px;
  /* border-radius: 5px;
  overflow: hidden; */
  }

  table td{
  border:1px solid;
  }

  .table td {
    text-align: center;
    }

    .card {
      padding: 20px;
      border: 0;
    }

    .table-title {
      font-weight: bold;
    }

    .dashboard-page {
      display: flex;
    }

    .sidebar {
      top: 0;
      bottom: 0;
      left: 0;
      padding: 58px 0 0;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
      width: 240px;
      z-index: 600;
      /* background-color: #40E0D0; */
      background-color:#FFFFFF;;
      }

      .sidebar .active {
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
      }

      .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto;
      }
      .hover {
        cursor: pointer;
      }

      .thead {
        background-color: #3bcebf;
        border-color: #40E0D0;
      }